@use "../common/mixins" as *;
@use "../common/variables" as *;

.benefits {
  padding-top: 20px;
  padding-bottom: 49px;

  @media (min-width: $width-tablet) {
    padding-top: 45px;
    padding-bottom: 47px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 71px;
    padding-bottom: 69px;
  }
}

.benefits__item {
  font-family: var(--font-secondary);
  list-style-type: none;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  gap: 20px;

  @media (min-width: $width-tablet) {
    grid-template-columns: 1fr;
  }
}

.benefits__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;

  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 153px;
  }

  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}

.benefits__title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}

.benefits__item::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: $basic-green;
  display: block;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $width-tablet) {
    width: 80px;
    height: 80px;
  }
}

.benefits__item--leaf::before {
  background-image: url("../img/icon/leaf.svg");
}

.benefits__item--water::before {
  background-image: url("../img/icon/water.svg");
}

.benefits__item--cutlery::before {
  background-image: url("../img/icon/cutlery.svg");
}

.benefits__item--watch::before {
  background-image: url("../img/icon/watch.svg");
}
