@use "../common/mixins" as *;
@use "../common/variables" as *;

.benefits-example {
  background-color: $bg-basic-grey;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $width-tablet) {
    background-image: linear-gradient(to top, $bg-basic-grey 41%, $basic-white 41%);
    padding-top: 57px;
    padding-bottom: 101px;
  }

  @media (min-width: $width-desktop) {
    background-image: linear-gradient(to top, $bg-basic-grey 71%, $basic-white 71%);
    padding-top: 57px;
    padding-bottom: 54px;
  }
}

.benefits-example::before {
  @media (min-width: $width-tablet) {
    content: "";
    display: block;
    box-shadow: 0 0 0 1px $line-grey;
    width: 100%;
    margin-bottom: 45px;
  }

  @media (min-width: $width-desktop) {
    display: none;
  }
}

.benefits-example__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;

  @media (min-width: $width-tablet) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, min-content);
  }

  @media (min-width: $width-desktop) {
    padding: 2px 110px 0;
    grid-template-columns: 1fr 1fr;
  }
}

.benefits-example__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 6px;

  @media (min-width: $width-tablet) {
    grid-column: 1/2;
    justify-content: start;
    gap: 42px;
    margin-top: 41px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: 1/2;
    grid-template-rows: 2/3;
    margin-top: 69px;
  }
}

.benefits-example__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $width-tablet) {
    padding: 0 6px;
    font-size: 30px;
    line-height: 37px;
  }
}

.benefits-example__description {
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 14px;
  margin: 0 auto;
  padding: 8px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: $bg-basic-grey;
  max-width: 88px;

  @media (min-width: $width-tablet) {
    background-color: $basic-white;
    max-width: 140px;
    padding: 11px 6px;
  }

  @media (min-width: $width-desktop) {
    background-color: $bg-basic-grey;
  }
}

.benefits-example__line-text {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  margin-top: 17px;

  @media (min-width: $width-tablet) {
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-size: 20px;
    margin-top: 50px;
  }

  @media (min-width: $width-desktop) {
    text-align: start;
    grid-column: 1/2;
    grid-row: 3/4;
    flex-direction: row;
    gap: 63px;
    padding-top: 0;
    margin-top: 43px;
  }
}

.benefits-example__image-container {
  display: grid;
  grid-template-columns: var(--percent, 50%) 1fr;
  width: 280px;
  margin: 6px auto 0;

  @media (min-width: $width-tablet) {
    grid-template-columns: var(--percent, 50%) 1fr;
    width: 560px;
    margin: 86px auto 0;
    grid-column: 1/-1;
  }

  @media (min-width: $width-desktop) {
    margin: -138px auto 0 51px;
    grid-column: 2/3;
    grid-row: 1/4;
  }
}

.benefits-example__image {
  grid-row: 1/2;
  display: flex;
  overflow: hidden;
}

.benefits-example__image--fat {
  grid-column: 1/2;
}

.benefits-example__image--thin {
  grid-column: 2/3;
  justify-content: flex-end;
}

.benefits-example__range-slider {
  grid-column: 1/-1;
  grid-row: 1/2;
  height: 100%;
  margin: 0;
  opacity: 0;
}

.benefits-example__range-slider-style {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4px;
  border-radius: 2px;
  transform: translateX(50%);
  background-color: $special_grey-2;
  pointer-events: none;

  &::after {
    content: "";
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid $special_grey-2;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 1;
    font-size: 20px;
    color: $special_grey-2;
    background-color: $basic-white;
    padding-bottom: 4px;
    margin-left: -22px;
  }

  &::before {
    content: "";
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 18px;
    background-color: $special_grey-2;
    mask-image: url("../img/sprite.svg#range");
    transform: translate(42%, 1%);
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 30px;
  }
}

.benefits-example__range-slider:hover + .benefits-example__range-slider-style::after {
  color: $basic-green-hover;
  border: 2px solid $basic-green-hover;
  background-color: $basic-white;
}

.benefits-example__range-slider:hover + .benefits-example__range-slider-style::before {
  background-color: $basic-green-hover;
}

.benefits-example__range-slider:hover + .benefits-example__range-slider-style {
  background-color: $basic-green-hover;
}

.benefits-example__range-slider:active + .benefits-example__range-slider-style::after {
  color: $basic-green-hover-opacity;
  border: 2px solid $basic-green-hover-opacity;
  background-color: $basic-white;
}

.benefits-example__range-slider:active + .benefits-example__range-slider-style::before {
  background-color: $basic-green-hover-opacity;
}

.benefits-example__range-slider:active + .benefits-example__range-slider-style {
  background-color: $basic-green-hover-opacity;
}

.benefits-example__image-cat {
  max-width: none;
}

.benefits-example__desc {
  font-family: var(--font-secondary);

  @media (min-width: $width-tablet) {
    grid-column: 1/3;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1/2;
    margin: 0;
    margin-top: 68px;
    padding-right: 176px;
  }
}

.benefits-example__title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 25px;

  @media (min-width: $width-tablet) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 44px;
  }

  @media (min-width: $width-desktop) {
    padding: 0 110px 76px;
    margin-bottom: 0;
  }
}

// Серая рамка для 60кг
.benefits-example__item {
  outline: 1px solid $line-grey;
  border-radius: 3px;
  min-width: 124px;
  text-align: center;
  align-items: center;
  position: relative;
  padding: 15px 15px 20px;

  @media (min-width: $width-tablet) {
    padding: 15px 15px 20px;
    min-width: 162px;
    height: 72px;
  }
}
