@use "../common/mixins" as *;
@use "../common/variables" as *;

.card {
  border-bottom: 1px solid $line-grey;

  @media (min-width: $width-tablet) {
    border-bottom: none;
  }
}

.card__title {
  color: $secondary-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.card__title--more {
  color: $third-black;
  text-align: center;
}

.card__title-more {
  color: $secondary-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 0;
}

.card__text {
  font-family: var(--font-secondary);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.card__text--more {
  text-align: center;
}

.card__text-more {
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.card__text--opposite {
  text-align: end;
}

.card__button {
  width: 100%;
  grid-column: 1/-1;
}

.card__button-more {
  background-color: $basic-grey;
  color: $dark-grey;

  &:hover {
    background-color: $basic-grey-hover;
  }

  &:active {
    background-color: $basic-grey-hover;
    color: $dark-grey-opacity;
  }
}

.card__table-add {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $width-tablet) {
    justify-content: flex-end;
    gap: 55px;
  }

  @media (min-width: $width-desktop) {
    justify-content: space-between;
  }
}

.card__table-more {
  @media (min-width: $width-desktop) {
    grid-column: 2/3;
  }
}

.card--more {
  grid-template-columns: 1fr;
  padding-top: 25px;
  background-image: none;

  @media (min-width: $width-tablet) {
    padding-top: 50px;
  }
}

.card__button--more {
  @media (min-width: $width-desktop) {
    width: 244px;
    grid-column: 3/4;
  }
}

.card__link--more {
  @media (min-width: $width-desktop) {
    grid-column: 1/2;
  }
}
