@use "../common/mixins" as *;
@use "../common/variables" as *;

.card {
  border-bottom: 1px solid $line-grey;

  @media (min-width: $width-tablet) {
    border-bottom: none;
  }
}

.card__title {
  color: $secondary-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 70%;
  margin-top: 0;
  margin-bottom: -5px;

  @media (min-width: $width-tablet) {
    text-align: center;
    width: 99%;
    font-size: 20px;
    line-height: 24px;
  }
}

.card__title--more {
  color: $third-black;
  text-align: center;
  width: 100%;
  margin-top: 11px;

  @media (min-width: $width-tablet) {
    width: 70%;
    margin-top: 21px;
  }

  @media (min-width: $width-desktop) {
    width: 90%;
    margin-top: 11px;
  }
}

.card__title-more {
  color: $secondary-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 0;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    margin-top: 21px;
    margin-bottom: 11px;
  }
}

.card__text {
  font-family: var(--font-secondary);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;

  @media (min-width: $width-tablet) {
    border-bottom: 1px solid $outline-textarea-hover;
    padding-bottom: 5px;
    padding-top: 7px;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
}

.card__text--more {
  text-align: center;
  border-bottom: none;
  margin-bottom: 18px;

  @media (min-width: $width-tablet) {
    width: 90%;
    margin-top: -25px;
  }

  @media (min-width: $width-desktop) {
    width: 100%;
  }
}

.card__text-more {
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__text--opposite {
  text-align: end;
}

.card__button {
  width: 100%;
  grid-column: 1/-1;
  margin-top: -3px;
  padding: 11px 26px;

  @media (min-width: $width-tablet) {
    margin-top: 8px;
  }

  @media (min-width: $width-desktop) {
    margin-top: 17px;
  }
}

.card__button-more {
  background-color: $basic-grey;
  color: $dark-grey;

  &:hover {
    background-color: $basic-grey-hover;
  }

  &:active {
    background-color: $basic-grey-hover;
    color: $dark-grey-opacity;
  }
}

.card__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: -7px;

  @media (min-width: $width-tablet) {
    margin-top: -3px;
  }

  @media (min-width: $width-tablet) {
    margin-top: 4px;
  }
}

.card__table-add {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $width-tablet) {
    justify-content: flex-end;
    gap: 55px;
  }

  @media (min-width: $width-desktop) {
    justify-content: space-between;
  }
}

.card__table-more {
  @media (min-width: $width-desktop) {
    grid-column: 2/3;
  }
}

.card--more {
  grid-template-columns: 1fr;
  background-image: none;
  padding-top: 37px;
  display: grid;
  place-items: center;
  row-gap: 3px;

  &::after,
  &::before {
    content: "";
    grid-area: 1/1/2/2;
    width: 30px;
    height: 2px;
    background-color: $plus;
    margin-bottom: 23px;

    @media (min-width: $width-tablet) {
      width: 60px;
    }
  }

  &::before {
    transform: rotate(90deg);
  }

  @media (min-width: $width-tablet) {
    padding-top: 60px;
    margin-top: 77px;
    row-gap: 16px;
    border: 2px solid $basic-grey;
    grid-template-rows: 60px max-content 1fr;
  }

  @media (min-width: $width-desktop) {
    row-gap: 18px;
    padding-top: 62px;
    margin-top: 82px;
  }
}

.card__button--more {
  margin-top: 13px;

  @media (min-width: $width-desktop) {
    width: 244px;
    grid-column: 3/4;
    margin-top: 10px;
  }
}

.card__link--more {
  margin-top: -23px;

  @media (min-width: $width-desktop) {
    grid-column: 1/2;
    margin-top: 0;
  }
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;

  @media (min-width: $width-tablet) {
    margin-top: -5px;
  }
}

.card__image-link {
  display: block;
  width: 140px;
  height: 100%;

  @media (min-width: $width-tablet) {
    width: 200px;
  }

  @media (min-width: $width-desktop) {
    width: 169px;
  }
}

.card__table-weight {
  padding-bottom: 2px;
}
