@use "../common/mixins" as *;
@use "../common/variables" as *;

.catalog-more__title {
  --padding-form: 20px;

  color: $basic-black;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  padding-left: var(--padding-form);
  padding-right: var(--padding-form);
  margin-inline: -20px;
  background-color: $basic-white;
  width: fit-content;

  @media (min-width: $width-tablet) {
    --padding-form: 40px;

    margin-inline: 0;
    border-bottom: none;
  }

  @media (min-width: $width-desktop) {
    margin-inline: -40px;
  }
}

.catalog-more__title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 50%;
  display: block;
  width: 100vw;
  height: 2px;
  background-color: #68b738;
  z-index: -1;
  box-shadow: 100vw 0 0 0 #68b738;
}

.catalog-more__list {
  list-style-type: none;
  display: grid;
  gap: 20px;
  padding: 0;
}

.catalog-more__item {
  padding: 13px 0 19px;
  border-bottom: 1px solid $line-grey;

  @media (min-width: $width-tablet) {
    border: 1px solid $line-grey;
    padding: 26px 38px 28px;
  }

  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: 325px 285px 1fr;
    gap: 17px;
    border: none;
    border-bottom: 1px solid $line-grey;
    padding: 15px 0 17px;
  }
}

.catalog-more__item:first-child {
  border-top: 1px solid $line-grey;
}
