@use "../common/mixins" as *;
@use "../common/variables" as *;

.control {
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  gap: 15px;
  align-items: center;

  @media (min-width: $width-tablet) {
    gap: 20px;
  }
}
