@use "../common/mixins" as *;
@use "../common/variables" as *;

.filter-program {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 14px;
  border: none;
}

.filter-program__text {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: $dark-grey;
  padding-right: 14px;
}

.input {
  cursor: pointer;
}

.text-input {
  padding: 14px;
}

.control {
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
 }

 .filter-program__list {
  list-style-type: none;
 }

 .filter-program__title {
   color: $basic-black;
   font-size: 24px;
   line-height: 26px;
 }

 .filter-program__text--comment {
   padding: 14px;
 }

 .filter-button {
  width: 100%;
 }

 .filter-button-text {
 color: $basic-black;
 text-align: center;
 font-family: "Lato";
 line-height: 16px;
}
