@use "../common/mixins" as *;
@use "../common/variables" as *;

.filter-program {
  display: grid;
  grid-row-start: auto;
  gap: 14px;
  border: none;
}

.filter-program__text {
  font-size: 16px;
  text-transform: uppercase;
  font-family: var(--font-basic);
  color: $dark-grey;
  padding-right: 14px;
}

.filter-program__input {
  cursor: pointer;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
}

.filter-program__input-text {
  padding: 14px;
}

.filter-program__list {
  list-style-type: none;
}

.filter-program__list--radio {
  @media (min-width: $width-tablet) {
    outline: 1px solid $line-grey;
    padding: 27px;
  }
}

.filter-program__list--checkbox {
  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    margin: 0;
  }
}

.filter-program__text--comment {
  padding: 14px;
}

.filter-program--padding-name {
  padding-top: 39px;
  padding-bottom: 24px;

  @media (min-width: $width-desktop) {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.filter-program--padding-program {
  padding: 0;

  @media (min-width: $width-tablet) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: $width-max;
    margin: 0 auto;
    display: grid;
    width: 100%;
  }

  @media (min-width: $width-desktop) {
    width: 100%;
    padding: 0;
    padding-right: 110px;
  }
}

.filter-program--padding-contact {
  @media (min-width: $width-desktop) {
    padding-right: 0;
  }
}

.filter-program__title {
  color: $basic-black;
  font-size: 24px;
  line-height: 26px;
  padding-top: 24px;
  padding-bottom: 24px;
  min-width: 100%;

  @media (min-width: $width-tablet) {
    padding-top: 65px;
    padding-bottom: 57px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 0;
    padding-bottom: 57px;
  }
}

.filter-program__item--radio,
.filter-program__item-checkbox {
  text-transform: uppercase;
}

.filter-program__wrapper {
  outline: 1px solid $line-grey;
  min-height: 150px;
}

.filter-program__send {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  flex-direction: column;
  padding-top: 34px;
  padding-bottom: 32px;
  align-items: center;
  width: 100%;

  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    max-width: $width-max;
    margin: 0 auto;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1/-1;
    padding-left: 0;
    gap: 80px;
    align-items: start;
    padding-right: 0;
  }
}

.filter-program--filter-container {
  max-width: $width-max;
  margin: 0 auto;

  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: start;
    padding-right: 0;
  }
}

.filter-program--comment {
  @media (min-width: $width-desktop) {
    padding-left: 0;
  }
}

.filter-program--extra {
  @media (min-width: $width-desktop) {
    padding-right: 0;
    grid-column: 1/-1;
  }
}
