@use "../common/mixins" as *;
@use "../common/variables" as *;

.filter-program {
  display: grid;
  grid-row-start: auto;
  gap: 14px;
  border: none;
}

.filter-program__text {
  font-size: 16px;
  text-transform: uppercase;
  font-family: var(--font-basic);
  color: $dark-grey;
  padding-right: 14px;
}

.filter-program__input {
  cursor: pointer;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  position: relative;

  .filter-program__input-text {
    padding: 14px;
    outline: 1px solid $outline-textarea;
    border: none;
  }

  &:hover {
    .filter-program__input-text {
      outline: 1px solid $outline-textarea-hover;
    }
  }

  &:active {
    .filter-program__input-text {
      outline: 1px solid $outline-textarea;
      border: none;
    }
  }

  &:focus {
    .filter-program__input-text {
      outline: 2px solid $dark-grey;
    }

    .filter-program__icon path {
      stroke: $basic-green;
    }
  }
}

.filter-program__list {
  list-style-type: none;
}

.filter-program__list--radio {
  @media (min-width: $width-tablet) {
    outline: 1px solid $line-grey;
    padding: 27px;
  }
}

.filter-program__list--checkbox {
  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    margin: 0;
  }
}

.filter-program--padding-name {
  padding-top: 39px;
  padding-bottom: 24px;

  @media (min-width: $width-desktop) {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.filter-program--padding-program {
  padding: 0;

  @media (min-width: $width-tablet) {
    padding-left: var(--padding-form);
    padding-right: var(--padding-form);
    max-width: $width-max;
    margin: 0 auto;
    display: grid;
    width: 100%;
  }

  @media (min-width: $width-desktop) {
    width: 100%;
    padding: 0;
    padding-right: 110px;
  }
}

.filter-program--padding-contact {
  @media (min-width: $width-desktop) {
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.filter-program__title {
  --padding-form: 20px;

  color: $basic-black;
  font-size: 24px;
  line-height: 26px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: $basic-white;
  padding-left: var(--padding-form);
  padding-right: var(--padding-form);
  margin-inline: -20px;
  position: relative;

  @media (min-width: $width-tablet) {
    --padding-form: 40px;

    padding-top: 65px;
    padding-bottom: 57px;
    margin-inline: -40px;

    br {
      display: none;
    }
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 57px;
  }
}

.filter-program__title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 50%;
  display: block;
  width: 100vw;
  height: 2px;
  background-color: $basic-green;
  z-index: -1;
  box-shadow: 100vw 0 0 0 $basic-green;
}

.filter-program__item--radio,
.filter-program__item-checkbox {
  text-transform: uppercase;
}

.filter-program__wrapper {
  outline: 1px solid $outline-textarea;
  min-height: 150px;
  resize: vertical;
  border: none;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: var(--font-basic);
  color: $dark-grey;
  padding-top: 14px;
  padding-left: 15px;

  &:hover {
    outline: 1px solid $outline-textarea-hover;
  }

  &:focus {
    outline: 2px solid $dark-grey;
  }

  @media (min-width: $width-tablet) {
    min-height: 175px;
    padding-top: 11px;
    padding-left: 20px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 9px;
  }
}

.filter-program__send {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  flex-direction: column;
  padding-top: 34px;
  padding-bottom: 32px;
  align-items: center;
  width: 100%;

  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    max-width: $width-max;
    margin: 0 auto;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1/-1;
    padding-left: 0;
    gap: 80px;
    align-items: start;
    padding-right: 0;
  }
}

.filter-program--filter-container {
  max-width: $width-max;
  margin: 0 auto;

  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: start;
    padding-right: 0;
  }
}

.filter-program--comment {
  @media (min-width: $width-desktop) {
    grid-column: 1/-1;
  }
}

.filter-program--extra {
  @media (min-width: $width-desktop) {
    padding-right: 0;
    grid-column: 1/-1;
  }
}

.filter-program__icon {
  position: absolute;
  right: 0;
  padding: 12px;

  @media (min-width: $width-tablet) {
    padding: 16px 14px;
  }

  @media (min-width: $width-desktop) {
    padding: 16px;
  }
}
