@use "../common/mixins" as *;
@use "../common/variables" as *;

.footer-social__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  padding: 20px;

  @media (min-width: $width-tablet) {
    margin-left: 32px;
    margin-top: -12px;
  }

  @media (min-width: $width-desktop) {
    margin-left: 35px;
    margin-top: 2px;
  }
}

.footer-social::after {
  content: "";
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 0 0 1px $line-grey;
  width: 100%;

  @media (min-width: $width-tablet) {
    display: none;
  }
}

.footer-social::before {
  content: "";
  display: block;
  margin-top: 20px;
  box-shadow: 0 0 0 1px $line-grey;
  width: 100%;

  @media (min-width: $width-tablet) {
    display: none;
  }
}

.footer-social__item {
  mask-position: center;
  mask-repeat: no-repeat;
  width: 28px;
  height: 22px;
  list-style-type: none;
  background-color: $special_grey-2;
  display: flex;

  &:hover,
  &:focus {
    background-color: $basic-green;
  }

  &:active {
    background-color: fade-in($color: $basic-green, $amount: 0.3);
  }
}

.footer-social__item--vk {
  mask-image: url("../img/sprite.svg#vkontakte");
}

.footer-social__item--youtube {
  mask-image: url("../img/sprite.svg#youtube");
}

.footer-social__item--telegram {
  mask-image: url("../img/sprite.svg#telegram");
}

.footer-social__link {
  list-style-type: none;
}
