@use "../common/mixins" as *;
@use "../common/variables" as *;

.footer-social__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  padding: 20px;
}

.footer-social::after {
  content: "";
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 0 0 1px $line-grey;
  width: 100%;

  @media (min-width: $width-tablet) {
    display: none;
  }
}

.footer-social::before {
  content: "";
  display: block;
  margin-top: 20px;
  box-shadow: 0 0 0 1px $line-grey;
  width: 100%;

  @media (min-width: $width-tablet) {
    display: none;
  }
}

.footer-social__item {
  background-position: center;
  background-repeat: no-repeat;
  width: 28px;
  height: 22px;
  list-style-type: none;
}

.footer-social__item--vk {
  background-image: url("../img/icon/vkontakte.svg");
}

.footer-social__item--youtube {
  background-image: url("../img/icon/youtube.svg");
}

.footer-social__item--telegram {
  background-image: url("../img/icon/telegram.svg");
}
