@use "../common/mixins" as *;
@use "../common/variables" as *;

.index-promo {
  background-image: url("../img/bg-cat.jpg"), linear-gradient(to right, #64a73c 50%, #62a53a 50%);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  background-position: top;
  background-size: auto 302px;
  padding-top: 27px;
  padding-bottom: 20px;

  @media (min-width: $width-tablet) {
    background-image: none;
    align-items: start;
    padding: 0 90px;
  }

  @media (min-width: $width-desktop) {
    padding: 0 80px;
    background-image: url("../img/bg-cat.jpg"), linear-gradient(to right, #64a73c 50%, #62a53a 50%);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 720px 720px;
    grid-template-rows: repeat(3, 414px);
  }
}

.index-promo__title {
  color: $basic-white;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
  margin: 0;

  @media (min-width: $width-tablet) {
    color: $basic-black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.index-promo__slogan {
  color: $basic-white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    color: $basic-black;
    font-size: 20px;
    line-height: 20px;
  }
}

.index-promo__button {
  width: 100%;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $width-tablet) {
    width: 244px;
    font-size: 20px;
    line-height: 20px;
  }
}

.index-promo__image {
  @media (min-width: $width-tablet) {
    order: 4;
    align-self: center;
  }
}
