@use "../common/mixins" as *;
@use "../common/variables" as *;

.index-promo {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 20px;

  @media (min-width: $width-tablet) {
    background-image: none;
    align-items: start;
    padding: 0 90px;
  }

  @media (min-width: $width-desktop) {
    padding: 0 0 0 80px;
    margin-right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content 1fr;
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 551px;
    max-width: calc($width-max/2 - 110px);
  }
}

.index-promo__title {
  color: $basic-white;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
  margin: 0;

  @media (min-width: $width-tablet) {
    color: $basic-black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding-left: 30px;
  }

  @media (min-width: $width-desktop) {
    margin-top: 70px;
    grid-column: 1/-1;
    padding-left: 0;
  }
}

.index-promo__slogan {
  color: $basic-white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    color: $basic-black;
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
    padding-left: 30px;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1/-1;
    margin-top: 15px;
    padding-left: 0;
  }
}

.index-promo__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 11px 26px;
  margin-top: -20px;

  @media (min-width: $width-tablet) {
    width: 244px;
    font-size: 20px;
    line-height: 26px;
    position: absolute;
    top: 371px;
    right: calc(50% + 21px);
    padding: 17px 26px;
    margin-top: 0;
  }

  @media (min-width: $width-desktop) {
    position: static;
    grid-column: 1/-1;
    padding: 18px 26px;
  }
}

.index-promo__image {
  display: block;
  max-width: none;

  @media (min-width: $width-tablet) {
    order: 4;
    width: 709px;
    height: 609px;
    margin-left: -60px;
    margin-top: -3px;
  }

  @media (min-width: $width-desktop) {
    width: 552px;
    height: 499px;
    position: absolute;
    top: 143px;
    left: calc(50% - 163px);
    margin: 0;
  }
}
