@use "../common/mixins" as *;
@use "../common/variables" as *;

.location {
  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: 1fr $width-max 1fr;
    grid-template-rows: 1fr;
  }
}

.location__map {
  border: none;
  display: block;
  z-index: 1;
  width: 100%;
  position: absolute;

  @media (min-width: $width-tablet) {
    height: 100%;
    max-height: 400px;
  }
}

.location__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: $basic-white;

  @media (min-width: $width-tablet) {
    padding: 60px 70px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $width-desktop) {
    grid-column: 2/3;
    grid-row: 1/-1;
    width: 565px;
    background-color: $basic-white;
    margin: 95px 110px 106px;
    padding: 60px 80px;
    z-index: 2;
  }
}

.location__wrapper-opaque {
  background-color: $basic-grey;

  @media (min-width: $width-desktop) {
    background-color: $basic-white;
  }
}

.location__dealers {
  color: $third-black;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}

.location__address-text {
  font-family: var(--font-secondary);
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  font-style: normal;
  color: $dark-grey;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $width-tablet) {
    gap: 19px;
    text-align: end;
  }

  @media (min-width: $width-desktop) {
    text-align: start;
    padding-left: 48px;
  }
}

.location__address-text--padding {
  @media (min-width: $width-desktop) {
    text-align: start;
    padding-left: 0;
  }
}

.location__map-image {
  object-fit: cover;
  width: 100%;
  height: 362px;
  max-height: 400px;
  display: block;
}

.location--map {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.location__link-map {
  position: relative;

  @media (min-width: $width-desktop) {
    grid-column: 2/3;
    grid-row: 1/-1;
  }
}
