@use "../common/mixins" as *;
@use "../common/variables" as *;

.main-footer {
  width: 100%;
  max-width: $width-max;
  margin: 0 auto;
}

.main-footer__academy-text {
  font-family: var(--font-secondary);
  font-size: 16px;
  line-height: 20px;
}

.main-footer__academy-link {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $width-tablet) {
    display: flex;
    gap: 23px;
    flex-wrap: wrap;
  }
}

.main-footer__logo {
  align-items: center;
}

.main-footer__wrapper {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: $basic-grey;

  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
