@use "../common/mixins" as *;
@use "../common/variables" as *;

.main-header {
  margin: 0 auto;

  @media (min-width: $width-desktop) {
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }
}

.main-header::before {
  content: "";
  display: block;
  background-image: url("../img/bg-cat.jpg"), linear-gradient(to right, $bg-cat-2 50%, $bg-cat 50%);
  background-repeat: no-repeat;
  background-size: auto 302px;
  background-position: top;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: $height-header;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-cat@2x.jpg"),
      linear-gradient(to right, $bg-cat-2 50%, $bg-cat 50%);
  }

  @media (min-width: $width-tablet) {
    display: none;
  }

  @media (min-width: $width-desktop) {
    display: block;
    position: absolute;
    top: 0;
    background: right center/auto 100% no-repeat $bg-cat-desktop url("../img/bg-cat-desktop.jpg");
    order: 2;
    grid-column: 2/3;
    height: 694px;

    @media (min-resolution: 2dppx) {
      background: right center/auto 100% no-repeat $bg-cat-desktop url("../img/bg-cat-desktop@2x.jpg");
    }
  }
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  height: $height-header;
  grid-column: 1/-1;

  @media (min-width: $width-tablet) {
    padding-top: 25px;
    padding-bottom: 65px;
    height: auto;
  }

  @media (min-width: $width-desktop) {
    padding-top: 55px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.main-header--transparent::before {
  background-image: none;
  background-color: $basic-white;
}

.main-header__logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $width-tablet) {
    position: static;
    align-self: center;
    transform: none;
  }
}

.main-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $width-tablet) {
    max-width: 210px;
    display: inline-flex;
    justify-content: space-between;
    gap: 13px;
    align-items: baseline;
  }

  @media (min-width: $width-desktop) {
    gap: 14px;
  }
}
