@use "../common/mixins" as *;
@use "../common/variables" as *;

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  position: relative;
}

.main-header__logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
