@use "../common/mixins" as *;
@use "../common/variables" as *;

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  height: 66px; // Возможно надо удалить

  @media (min-width: $width-tablet) {
    padding-top: 25px;
    padding-bottom: 65px;
    height: auto;
  }

  @media (min-width: $width-desktop) {
    padding-top: 55px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(to right, $basic-white 50%, #62a53a 50%);
  }
}

.main-header--transparent {
  background-image: none;
}

.main-header__logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $width-tablet) {
    position: static;
  }
}

.main-header__logo {
  @media (min-width: $width-tablet) {
    width: 200px;
    display: flex;
    justify-content: space-between;
    gap: 13px;
    align-items: baseline;
  }

  @media (min-width: $width-tablet) {
    gap: 14px;
  }
}
