@use "../common/mixins" as *;
@use "../common/variables" as *;

.product {
  @media (min-width: $width-desktop) {
    padding-top: 41px;
  }
}

.product__item {
  background-color: $basic-grey;
  list-style-type: none;
  padding: 20px;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;

  @media (min-width: $width-tablet) {
    grid-template-columns: 1fr 200px;
    grid-template-rows: repeat(4, min-content);
    padding: 77px 63px 61px 52px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(3, min-content);
    padding: 47px 61px 63px 52px;
  }
}

// Зеленый круг для котов
.product__item::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: $basic-green;
  border-radius: 50%;
  position: relative;
  margin-right: 20px;

  @media (min-width: $width-tablet) {
    width: 200px;
    height: 200px;
    grid-column: 2/3;
    grid-row: 1/4;
    position: static;
    margin-right: 0;
  }

  @media (min-width: $width-desktop) {
    width: 100px;
    height: 100px;
    margin-right: 62px;
    position: static;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

// Коты
.product__item::after {
  content: "";
  background-size: cover;
  position: absolute;

  @media (min-width: $width-tablet) {
    grid-column: 2/3;
    grid-row: 1/4;
    z-index: 0;
    position: static;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.product__item--slim::after {
  background-image: url("../img/sprite.svg#cat-slim");
  width: 36px;
  height: 50px;
  transform: translate(21%, -6%);

  @media (min-width: $width-tablet) {
    width: 140px;
    height: 194px;
  }

  @media (min-width: $width-desktop) {
    width: 70px;
    height: 97px;
  }
}

.product__item--pro::after {
  background-image: url("../img/sprite.svg#cat-pro");
  width: 67px;
  height: 28px;
  transform: translate(-14%, 37%);

  @media (min-width: $width-tablet) {
    width: 268px;
    height: 112px;
    transform: translate(-14%, -1%);
  }

  @media (min-width: $width-desktop) {
    width: 134px;
    height: 56px;
    transform: translate(-15%, -3%);
  }
}

.product__subtitle {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $width-desktop) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.product__desc {
  font-family: var(--font-secondary);
  margin-bottom: 20px;
  grid-column: 1/-1;

  @media (min-width: $width-tablet) {
    margin-bottom: 58px;
    margin-top: 24px;
    padding-right: 50px;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 34px;
    margin-top: 39px;
    padding-right: 0;
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

// Серые линии
.product__desc::after {
  content: "";
  display: block;
  margin-top: 23px;
  box-shadow: 0 0 0 1px $line-grey;
  width: 100%;

  @media (min-width: $width-tablet) {
    display: none;
  }
}

.product__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-black;
  grid-column: 1/-1;
  display: flex;

  @media (min-width: $width-tablet) {
    grid-column: 1/2;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $width-desktop) {
    grid-column: 1/-1;
  }
}

.product__link::after {
  content: "";
  background-image: url("../img/icon/arrow.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 10px;
  margin-left: 15px;

  @media (min-width: $width-tablet) {
    margin-left: 25px;
  }
}

.product__list {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 20px;

  @media (min-width: $width-tablet) {
    gap: 30px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
