@use "../common/mixins" as *;
@use "../common/variables" as *;

.container {
  padding-left: var(--padding-container);
  padding-right: var(--padding-container);

  @media (min-width: $width-tablet) {
    --padding-container: 30px;
  }

  @media (min-width: $width-desktop) {
    --padding-container: 110px;
  }
}
