@use "../common/mixins" as *;
@use "../common/variables" as *;

.page {
  height: 100%;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--font-basic);
  font-weight: 400;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__body {
  min-height: 100%;
  margin: 0;
  color: $dark-grey;
  background-color: $basic-white;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

sup {
  position: static;
  margin-left: 2px;
  vertical-align: baseline;
  font-size: inherit;
}
