@use "sass:math";
// для подключения модуля math в scss
@use "variables";

@mixin lg {
  @media (min-width: variables.$lg) {
    @content;
  }
}

$layout-width: 1980;

@function vw($size) {
  @return #{(math.div($size, $layout-width)*100)}vw;
}

@function clampvw($min, $max) {
  @return clamp(#{$min}px, #{(math.div($max, $layout-width)*100)}vw, #{$max}px);
}

@mixin container {

  width: 100%;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include lg {
    --w: #{clampvw(770, 1720)};
    --p: calc((100vw - var(var(--w))) / 2);
    max-width: clampvw(770, 1520);
  }
}
