@use "../common/mixins" as *;
@use "../common/variables" as *;

.title {
  color: $basic-black;
  font-family: "Oswald";
  font-weight: 400;
}

.title--index-promo {
  color: $basic-white;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.title--slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $basic-white;
}
