@use "../common/mixins" as *;
@use "../common/variables" as *;

.title {
  color: $basic-black;
  font-weight: 400;
}

.form-title {
  color: $basic-black;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.form-text {
  color: $basic-black;
  text-transform: uppercase;
}
