// Viewport
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;
$width-max: 1800px;

// Color
$basic-black: #000000;
$secondary-black: #222222;
$third-black: #111111;

$basic-green: #68b738;
$basic-green-hover: #5eaa2f;
$bg-green: #69b738;

$basic-white: #ffffff;

$basic-grey: #f2f2f2;
$bg-basic-grey: #eaeaea;
$basic-grey-hover: #ebebeb;
$line-grey: #d9d9d9;
$dark-grey: #444444;

$dark-grey-opacity: rgb(68, 68, 68, 0.3);
$basic-white-opacity: rgba(255, 255, 255, 0.3);
$basic-black-opacity: fade-out ($basic-black, 30%);


// Sizes
$elg: 1526px;
$lg: 1000px;
$md: 720px;
$sm: 540px;
$esm: 360px;

:root {
  // Font-family
  --font-basic: "Oswald", "Arial", sans-serif;
  --font-secondary: "Lato", "Arial", sans-serif;

  // Padding
  --padding-container: 20px;
}
