// Width
$width-mobile: 320px;
$width-mobile-only: 767px;
$width-tablet: 768px;
$width-desktop: 1440px;
$width-max: 1440px;

// Height
$height-header: 66px;

// Color
$basic-black: #000000;
$secondary-black: #222222;
$third-black: #111111;

$basic-green: #68b738;
$basic-green-hover: #5eaa2f;
$bg-green: #69b738;
$bg-cat: #62a53a;

$basic-white: #ffffff;

$basic-grey: #f2f2f2;
$bg-basic-grey: #eaeaea;
$basic-grey-hover: #ebebeb;
$line-grey: #d9d9d9;
$outline-textarea: #e7e7e7;
$outline-textarea-hover: #cdcdcd;
$radio-input-hover: #bababa;
$dark-grey: #444444;
$special_grey-2: #666666;
$cat-energy-focus: #3e3e3e;
$cat-energy-active: #6b6b6b;

$error: #ff8282;

$dark-grey-opacity: rgb(68, 68, 68, 0.3);
$basic-white-opacity: rgba(255, 255, 255, 0.3);
$basic-black-opacity: rgb(0, 0, 0, 0.3);
$basic-green-hover-opacity: rgb(94, 170, 47, 0.6);


// Sizes
$elg: 1526px;
$lg: 1000px;
$md: 720px;
$sm: 540px;
$esm: 360px;

:root {
  // Font-family
  --font-basic: "Oswald", "Arial", sans-serif;
  --font-secondary: "Lato", "Arial", sans-serif;

  // Padding
  --padding-container: 20px;
  --padding-form: 70px;
}
