// Все переменные со знака $

// Viewport
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;

// Padding
$padding-mobile: 50px;
$padding-tablet: 30px;
$padding-desktop: 30px;

// Color
$basic-black: #000000;
$secondary-black: #222222;
$basic-green: #68b738;
$green-hover: #5eaa2f;
$basic-white: #ffffff;
$dark-grey: #444444;

// Sizes
$elg: 1526px;
$lg: 1000px;
$md: 720px;
$sm: 540px;
$esm: 360px;
